
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 55px;
    width: 100vw;
    margin: 0px;
}

#profileDiv{
    margin-bottom: -20px;
    display: flex;
}
#profile{
    height: 50px;
    width: 60px;
    margin-left: 30px;
    filter: grayscale(-100px);

}
#menu{
    height: 30px;
    width: 30px;
}
#menuDiv{
    background-color: white;
    display: none;
    z-index: 9999;
    margin-top: 50px;
    width: 400px;
    position: absolute;
    list-style-type: none;
    padding: 0;
    color: green;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#menuDiv li{
  width: 100%;
  height: 50px;
  margin-top: 0px;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1rem;

}
#menuDiv li:hover{
  
    background-color: lightgray;

}
#searchDiv{
   margin: 0 auto;
   margin-top: 10px;
   margin-bottom: 20px;
   width: 600px;
   height: 35px;
   border-radius: 10px;
   display: flex;
   background-color: white;

}
#search{
   font-size: 16px;
    outline: none;
    width: 550px;
    height: 35px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid rgb(7, 213, 7);
    font-weight: bold;
    color: #333;
    
    
}
#searchIma{
    height: 30px;
    width: 30px;
    margin-top: 2px;
    border: 2px solid rgb(7, 213, 7);
    margin-left: 10px;
    border-radius: 20px;
}

#search::placeholder{
   margin-left: 10px;
   font-size: 16px;
}

#display{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 5px;
}
img{
    height: 230px;
    width: 220px;
}

#childDiv{
    height: 430px;
    margin-right: 50px;
    margin-top: 10px;
    width: 220px;
    
    
}
#childDiv:hover{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
#childDiv:hover{
    background-color: whitesmoke;
}
#rating{
    height: 13px;
    width: 16px;
}
#desPage{
    height: 50px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ratingPage{
    height: 30px;
    font-weight: 700;
    margin-left: 3px;
    display: flex;
    margin-top: 40px;
}
#pricePage{
    font-weight: 900;
}
.btn{
    background-color: rgb(7, 213, 7);
    border: none;
    padding: 5px 5px;
    font-weight: 900;
    padding-top: 7px 7px;
    color: white;
    margin-left: 50px;
    text-align: center;
    border-radius: 5px;
}
#span{
    margin-left: 80px;
    font-weight: 540;
    background-color: whitesmoke;
    width: 60px;
    height: 50px;
    text-align: center;
    margin-top: -15px;
    border-radius: 5px;
}
#countDiv{
    color: white;
    font-weight: bold;
    background-color: rgb(7, 213, 7);
    width: 30px;
    text-align: center;
    height: 30px;
    margin-left: -5px;
    border-radius: 40px;
}
#cartDiv{
    display: flex;
    margin-bottom: -30px;
    width: 180px;
}
#cartText{
    width: 110px;
    height: 20px;
    margin-bottom: 20px;
    margin-right: -5px;

}
.cText{
    width: 110px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    color: white;
    font-size: 12px;
    background-color: rgb(7,213,7);
    height: 20px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#cartIma{
    height: 40px;
    width: 40px;
    filter: brightness(100%) grayscale(-250%);
    

}

#overlay{
    left: 0;
    right: 0;
    top: 50;
    z-index: 9999;
    display: none;
    background-color: whitesmoke;
    height: 100%;
    width: 100vw;
    position: absolute;
}

#storeDiv{
    height: 100px;
    width: 100px;
}
#childOverlay{
    display: flex;
}
#image_page{
    height: 50px;
    width: 50px;
}







@media (max-width: 768px) {

body{
    background-color: rgb(7, 213, 7);
}    

section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    height: 180px;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
}



#display{
    margin-top: 200px;
    flex-direction: column;
    width: 100%;
    
}
#childDiv{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
    background-color: white;
}

img{
    width: 68%;
    max-width: 250px;
    margin:auto;
    display: block;
    margin-top: 10px;
}

#searchDiv{
    margin-top: 25px;
    width: 90%;
}

#search{
    width: 90%;
    margin-right: none;
}

#searchIma{
    
}
#menuDiv{
    width: 100%;
    margin-top: 150px;
    font-size: 1rem;
    box-shadow: none;
}

#line{
    width: 68%;
    max-width: 250px;
    margin: auto;
    display: block;
    margin-top: 10px;
}
#rating{
    margin-top: -2px
    }

#pricePage{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
}

